################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HouseRatingClientApp/View/Windows/LoginUserWindow.xaml
/HouseRatingClientApp/ViewModel/LoginUserViewModel.cs
